@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    width: 100%;
}
h1 {
    text-align: center;
}
div {
    text-align: center;
}
a {
    text-decoration: none;
    color: currentColor;
    transition: 0.3s;
}
a:hover {
    color: #09b8b8;
}
img {
    width: 75%;
}
input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}   
.container-teladelogin {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: #000000 solid 2px;
    background-color: rgba(255, 255, 255, 0.959);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 60px;
}
.h1-teladelogin {
    color: #000000;
    font-size: 40px;
    text-shadow: #ffffff 4px 4px 4px; 
}
.box-teladelogin {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    border-radius: 15px;
}
.entrar {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    border: black solid 1px;
    width: 189px;
    margin-top: 10px;
    color: white;
    font-family: 'Kanit', sans-serif;
    background-color: #d60606;
}
.entrar:hover {
    color: black;
    background-color: #ffffff;
    cursor: pointer;
}
.header-telainicial {   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    background-color: #d60606;
}
.h1-telainicial {
    font-size: 60px;
    text-shadow: #000000 5px 5px 5px; 
    color: white;
}
.body-telaincial {
    text-align: center;
}
.container-telainicial {
    display: flex;
    flex-direction: column;
    margin: 0 29%;
}
.content-telainicial {
    padding: 25px;
    font-size: 50px;
    color: white;
    text-shadow: #000000 4px 4px 4px; 
}
.imagebox-telainicial {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-telainicial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    border: solid black 3px;
    border-radius: 40px;
    width: 900px;
    padding: 0 30px;
    background-color: #d60606;
}
.ancora-telainicial:hover {
    color: black;
    text-shadow: #ffffff 3px 3px 3px; 
}
.imagens-telainicial {
    width: 85px;
}
.hipercontainer-suporte {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.container-suporte {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 100%;
}
.list-title-suporte {
    display: flex;
    height: 40px;
    width: 89%;
    margin: 2px;
    border: solid black 2px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    margin: 0 5%;  
    padding-top: 3px;
    background-color: #d60606;
}   
.list-content-suporte {
    color: white;
    text-shadow: #000000 2px 2px 2px; 
}
.content-suporte {
    padding: 2px;
    font-size: 20px;
    margin: 0 5%;
}
.imagebox-suporte {
    display: flex;
    height: 40px;
    margin: 3px;
    border: solid black 2px;
    border-radius: 40px;
    text-align: center;
    justify-content: flex-start;  
}
.ball {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d60606;
    border-right: solid black 2px;
    border-radius: 40px;
    flex-direction: row;
    width: 36px;
    height: 36px;
}
.a-suporte {
    margin: 2px;
}
.imagens-principais {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.box-imagensprincipais {
    border: solid 3px black;
    transition: 0.5s;
    margin-top: 15px;
}
.box-imagensprincipais:hover {
    transform: scale(1.03);
}
.icon-suporte {
    width: 23px;
    height: 23px;
}
@media (max-width: 768px){
    body {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 17px;
        padding-top: 20px;
    }
    .h1-telainicial {
        font-size: 27px;
    }
    .container-telainicial {
        margin: 0 8%;
    }
    .content-telainicial {
        width: 400px
    }
    .imagebox-telainicial {
        font-size: 25px;
    }
    .imagens-telainicial {
        width: 50px;
    }
    .imagem2 {
        margin-top: 5%;
        margin-left: 2%;
        width: 39px;
        height: auto;
    } 
    .hipercontainer-suporte {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .container-suporte {
        margin: 2% 0;
    }
    .list-title-suporte {
        width: 90%;
    }
}